 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:inherit;
}
/*
.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('../public/pictures/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('../public/pictures/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/pictures/img-5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */



.content{
  background-image: url("/public/pictures/img-home.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.text{
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}
.text > * {
  margin-bottom: 10px;
}


.buttons{
  display: flex;
  width: 50vw;
  justify-content: space-between;
  
}
.buttons > a{
  border: solid 1px white;
  text-decoration: none;
  color:white;
  padding: 5px 10px;
}
.buttons > a:hover{
  color: black;
  background: white;
}
